# Игнорирование исполняемых файлов
*.exe
yt-dlp

# Игнорирование архивов
*.tar
*.tar.gz
*.zip

# Игнорирование файлов кэша Python
*.pyc
*.pyo
__pycache__/
.pytest_cache/

# Файл со списком каналов для мониторинга
channels_list.json

# Игнорирование файлов с секретами и ключи
.env
*oauth2*.json
*secret*.json
*.pickle
*.pem
*.key

# Игнорирование лог-файлов и директорий
*.log
logs/

# Игнорируем временные файлы
*.bak
*.bak#
*.tmp

# Игнорирование артефактов сборки
build/
_build/
dist/
*.egg-info/

# Игнорирование зависимостей
node_modules/
venv/
*.wheel

# Игнорирование IDE и редакторов
.idea/
.vscode/
*.swp
*.swo

# Игнорирование операционных систем
.DS_Store
Thumbs.db
.Trashes
.Spotlight-V100