# Игнорирование исполняемых файлов
*.exe

# Игнорирование файлов кэша Python
*.pyc
__pycache__/

# Игнорирование файлов с секретами
.env
*oauth2*.json
*secret*.json

# Игнорирование лог-файлов и директорий
*.log
logs/

# Игнорирование артефактов сборки
build/
dist/
*.egg-info/

# Игнорирование зависимостей
node_modules/
venv/
*.wheel

# Игнорирование IDE и редакторов
.idea/
.vscode/
*.swp
*.swo

# Игнорирование операционных систем
.DS_Store
Thumbs.db