{
    "name": "my_channels_list_name",
    "channels": [
        "https://www.youtube.com/@lexfridman",
        "https://www.youtube.com/@AsmonTV",
        "https://www.youtube.com/@joerogan"
    ]
}
